@media (min-width: 500px) {
  .__checkout {
    padding: 2rem;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.__checkout-nav {
  display: flex;
  justify-content: space-between;
}

.__checkout-confirm {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.__checkout-confirm-field {
  display: flex;
  column-gap: 1rem;
}
