.__checkbox-row {
  display: flex;
  align-items: center;
}

.__checkbox-row > :not(:last-child) {
  margin-right: 0.5rem;
}

@supports (display: subgrid) {
  .__checkbox-row {
    column-gap: 0.5rem;
  }

  .__checkbox-row > :not(:last-child) {
    margin-right: 0;
  }
}

.__checkbox-input {
  width: auto !important;
  height: auto !important;
}

.__checkbox-label {
  margin: 0 !important;
}
