.__products {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.__products > .card {
  flex-basis: 100%;
}

@media (min-width: 640px) {
  .__products > .card {
    flex-basis: 200px;
  }
}

@supports (display: grid) {
  .__products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.__product-image {
  width: 66% !important;
  align-self: center;
}

.__product-image-placeholder {
  padding: 30% 10%;
  background-color: lightslategray;
  text-align: center;
}

.__product-links {
  display: flex;
  justify-content: center;
}
